.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 5%
    width: 100px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: 2%
    width: 100px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 2%
    right: 15%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

@media (min-width: 426px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
    padding-right: 130px

@media (min-width: 769px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

  .banner-principal__info
    padding-right: 85px !important

@media (min-width: 1025px)
  .banner-principal__info
    padding-right: unset !important

@media (max-width: 440px)
  .banner-principal__descripcion
    margin-bottom: 30px
    padding-right: 45px
  .banner-principal__accion
    margin-top: 30px
    margin-bottom: 50px

.banner-principal__row .banner-principal__img
  width: 400px !important  
  padding-bottom: 0 !important

  @media (min-width: 1200px)
    width: 550px !important

.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner-interno.png') !important

figcaption
  font-weight: normal

.bg-color-terciario-t20
  background-color: $color-terciario-t20

.fullwidth-bg
  position: relative
  z-index: 0

  &--1::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema1/bg-1.png')

    @media (max-width: 450px)
      display: none

  &--2::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema1/bg-2.png')

    @media (max-width: 450px)
      display: none

  &--3::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema2/bg-1.png')

    @media (max-width: 450px)
      display: none

  &--4::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema3/bg-1.png')

    @media (max-width: 450px)
      display: none

.z-2
  position: relative
  z-index: 2

.banner-text
  background-color: $white
  border-radius: 10px
  padding: 20px 30px
  margin-top: -40px
  background: #DEDEDE
  background: linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(222, 222, 222, 1) 100%)

@media (min-width: 992px)
  .banner-text
    margin-top: -60px

.factores-slider
  &__tarjeta
    border-radius: 14px
    height: 97% !important
    box-shadow: 0px 0px 5px 0px #00000030
    margin: 10px
    
  &__icon 
    max-width: 239px
  
  &__title-wrapper
    text-align: center

  &__title
    // background-color: $color-acento-contenido
    padding: 10px 20px
    display: block

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    color: $white
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px

.checklist
  padding-left: 20px
  width: fit-content

  li
    position: relative
    padding: 10px 20px
    padding-left: 0
    border-bottom: 1px dotted #AFAFAF
    text-align: left

    &:last-child
      border-bottom: none
    &::before
      content: url('../assets/curso/temas/check-icon.svg')
      position: absolute
      left: -25px
      top: 12px

.bg-color-terciario
  background-color: $color-terciario

.bg-color-secundario-s20
  background-color: $color-secundario-s20

.bg-grandiente-azul
  background: #E5F0FC
  background: linear-gradient(90deg, rgba(229, 240, 252, 1) 0%, rgba(222, 222, 222, 0) 100%)

.numbered-card
  position: relative
  background-color: #EAECF0
  min-height: 100%

  &--num1
    position: absolute
    content: url('../assets/curso/temas/tema2/num-1.svg')
    left: -3px
    top: 50%
    transform: translate(-50%, -50%)
  &--num2
    position: absolute
    content: url('../assets/curso/temas/tema2/num-2.svg')
    left: 0
    top: 50%
    transform: translate(-50%, -50%)
  &--num3
    position: absolute
    content: url('../assets/curso/temas/tema2/num-3.svg')
    left: 0
    top: 50%
    transform: translate(-50%, -50%)
  &--img
    position: absolute
    top: 0
    right: 0
    width: 62px
    transform: translate(50%, -50%)

.bg-darkblue
  background-color: #12263F

.pasos-a__linea__esquina__linea
  border-radius: 0

.tabla-a
  table th, table td
    text-align: start
    padding: 15px 10px

.w-305
  width: 305px
  margin: 0 auto

.w-53
  width: 53px
  margin: 0 auto

.bg-fondo
  &-2
    background-image: url("../assets/curso/temas/tema3/bg-desktop.png") !important
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: $bp-max-sm)
      background-image: url("../assets/curso/temas/tema3/bg-tablet.png") !important
      background-position: center
      max-width: 671px
      margin: 0 auto

    i
      font-size: 50px
      color: $color-acento-botones
  &-3
    background-image: url("../assets/curso/temas/tema2/bg-desktop.png") !important
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: $bp-max-sm)
      background-image: url("../assets/curso/temas/tema2/bg-mobile.png") !important
      background-position: center
      max-width: 671px
      margin: 0 auto

.acordion
  &__activo
    background-color: #FEECE6

  .tarjeta
    padding-left: 16px !important
    padding-right: 16px !important
    padding-top: 16px !important

  &__header
    margin-bottom: 16px !important

  &__accion__btn--a
    background-color: $color-acento-botones
    color: $white

.graph-title
  position: relative
  width: fit-content
  padding: 10px 30px
  padding-left: 50px
  background-color: #B2CDEA
  margin-left: 20px
  border-radius: 20px
  margin-top: 20px
  &::before
    content: url('../assets/curso/temas/tema3/tabla-icon.svg')
    position: absolute
    left: -20px
    top: 50%
    transform: translateY(-50%)
    max-width: 65px
    display: block

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 10px
  &:hover
    .crd_hover_txt--body 
      background-color: $color-secundario-s10


.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)

.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 18px 13px 30px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 55px))
  background-color: #FFE1D1

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px

.conservas-slyder
  background-image: url('../assets/curso/temas/tema3/bg-slider.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones
    border: none
    transition-delay: 0.1s
    opacity: 0.9
    background-image: url('../assets/bullets/arrow-white.svg')
    color: #FFFFFF

    &.hide
      opacity: 0
      pointer-events: none

  .slyder-a__bullets__item
    background-color: #FE8849
    border: 1px solid #FE8849
    opacity: 0.3
    margin: 0 8px
  .slyder-a__bullets__item--active
    opacity: 1

  &.more-elements
    @media (max-width: 650px)
      .slyder-a__bullets__item
        width: 10px
        height: 10px
        margin: 0 3px

.bg-gray
  background-image: url('../assets/curso/temas/tema3/bg-gray.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.tabs-a
  @media (min-width: 992px) 
    .row
      .col-lg-4 
        flex: 0 0 auto
        width: 40%
      .col-lg-8 
        flex: 0 0 auto
        width: 60%
  @media (min-width: 1200px) 
    .row
      .col-xl-3 
        flex: 0 0 auto
        width: 38%
      .col-xl-9
        flex: 0 0 auto
        width: 62%